header {
	background: #F9F9F9;
	height: 50px;
}

.logout {
	display:inline-block;
	position: absolute;
	right: 10px;
	top:5px;
	cursor: pointer;
}

input {
	height: 30px;
	border-radius: 10px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.col {
	background-color: pink;
	display: inline-block;
	vertical-align: top;

	width:31%;
	min-width: 200px;
	max-width: 100%;
	height: 45%;
	max-height: 300px;

	padding: 5px;
	margin: 3px 0 3px 0;

	overflow: auto;
	overflow-x: hidden;

	word-wrap: break-word;
	
	-webkit-resize:horizontal;
	-moz-resize:horizontal;
	resize:horizontal;
}