---
layout: en
---
<h1>Articles</h1>

{% for post in site.posts %}
{% if post.layout == 'en' and post.type == 'article' %}
  <p>
  	<a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
  	<span style="float:right">{{ post.date | date:"%b %Y" }}</span>
	</p>
{% endif %}
{% endfor %}

<h2>Help us to translate</h2>

<ul>
{% for post in site.posts %}
{% if post.layout == 'fr' and post.type == 'article' %}
  <li>
	  <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</li>
{% endif %}
{% endfor %}
</ul>