---
layout: en
---
<h1>Updates</h1>

<ul>
{% for post in site.posts %}
{% if post.layout == 'update_en' and post.type == 'update' and post.needTranslation != 'en' %}
  <li>
	  <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</li>
{% endif %}
{% endfor %}
</ul>

<h2>Help us to translate</h2>

<ul>
{% for post in site.posts %}
{% if post.layout == 'update_en' and post.type == 'update' and post.needTranslation == 'en' %}
  <li>
	  <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	  <a style="float:right" href="https://github.com/Froggies/Skimbo/edit/gh-pages/{{post.path}}">Edit</a>
	</li>
{% endif %}
{% endfor %}
</ul>
