<div ng-controller="HeaderController" class="{{banner_classes}}"> 
	<div class="{{arrow_classes}}" ng-click="openMenu()"></div>
	<div class="logo">
		<img ng-hide="loading" src="/assets/img/skimbo-acote_40.png" width="114" height="40" ng-hide="loading">
		<div id="loader" ng-show="loading">
			<img src="/assets/img/loader.gif" width="40" height="40">
			<span>{{loadingMsg | i18n}}</span>
		</div>
	</div>

	<div class="button header-button-account" ng-include src="'/assets/app/views/account.html'"></div>
	<div class="button header-button-post" ng-include src="'/assets/app/views/post.html'"></div>
	<div class="button header-button-modif-column" ng-include src="'/assets/app/views/modifColumn.html'"></div>

</div>



