<div ng-controller="HeaderCtrl" id="header-general">
	<div id="logo">
		<img src="assets/img/skimbo-acote_40.png" width="114" height="40">
	</div>

	<div class="separateur-gris"></div>

	<input id="skimber" type="button" value="Skimber !" title="Coming soon...">
	<div id="recherche-et-profil">
		<input type="search" placeholder="Rechercher" results="5" name="test" ng-model="$parent.$parent.query">
		<a id="nom-prenom" href="#" ng-click="showUserInformations=!showUserInformations">
			<img ng-src="{{$parent.userInfos[0].avatar}}" width="24" height="24">{{$parent.userInfos[0].username}} ▼
		</a>
		<div id="bloc-utilisateur" ng-show="showUserInformations" ng-click="showUserInformations=!showUserInformations">
			<div id="reseaux-connectes">
				<div class="connected-on">You are logged in :</div>
				<ul>
					<li ng-repeat="userInfo in $parent.userInfos">
						<a href="#" class="social-network-connected {{userInfo.socialType}}">
							<img ng-src="assets/img/brand/{{userInfo.socialType}}.png" alt="{{userInfo.socialType}}" width="16" height="16">{{userInfo.username}}
						</a>
						<a href="#" ng-click="deleteProvider(userInfo.socialType)" class="deconnexion {{userInfo.socialType}}">✘</a>
					</li>
				</ul>
			</div>
			<footer>
				<a href="https://github.com/Froggies/Skimbo/wiki/Contact" target="_blank">@ Contact us</a>
				<a href="https://github.com/Froggies/Skimbo/wiki/Help" target="_blank">?</a>
				<a href="/api/logout">✘ Log out</a>
			</footer>
		</div>
	</div>
</div>



