<div class="help-container">
  <nav class="help-nav">

    <section>
      <h2 toggle-click go-on-click="helpIdGeneral">Généralités</h2>
      <ul>
        <li go-on-click="helpIdProvidersServices">Providers - services</li>
      </ul>
    </section>
    <section>
      <h2 toggle-click go-on-click="helpIdAccount">Mon compte</h2>
      <ul>
        <li go-on-click="helpIdWhereFindAccount">Où le trouver ?</li>
        <li go-on-click="helpIdPauseToken">Mettre en pause un accès</li>
        <li go-on-click="helpIdDeleteToken">Supprimer un accès</li>
        <li go-on-click="helpIdDisconnect">Déconnexion</li>
        <li go-on-click="helpIdContactUs">Nous contacter</li>
      </ul>
    </section>
    <section>
      <h2 toggle-click go-on-click="helpIdColumn">Colonne</h2>
      <ul>
        <li go-on-click="helpIdColumnAdd">Ajouter</li>
        <li go-on-click="helpIdColumnMod">Modifier</li>
        <li go-on-click="helpIdColumnDel">Supprimer</li>
        <li go-on-click="helpIdColumnResize">Redimensionner</li>
        <li go-on-click="helpIdColumnDrag">Déplacer</li>
      </ul>
    </section>
    <section>
      <h2 toggle-click go-on-click="helpIdMessages">Messages</h2>
      <ul>
        <li go-on-click="helpIdMessagesAllWatch">Tous les messages sont lus</li>
        <li go-on-click="helpIdMessagesComment">Commenter</li>
        <li go-on-click="helpIdMessagesShare">Partager</li>
        <li go-on-click="helpIdMessagesRefresh">Rafraichir</li>
        <li go-on-click="helpIdMessagesStar">Marquer</li>
        <li go-on-click="helpIdMessagesMedias">Médias</li>
      </ul>
    </section>
    <section>
      <h2 toggle-click go-on-click="helpIdSkimber">Skimber</h2>
      <ul>
        <li go-on-click="helpIdSkimberProvidersRules">Règles proviers</li>
        <li go-on-click="helpIdSkimberDelayed">Planifier</li>
      </ul>
    </section>
    <section>
      <h2 toggle-click go-on-click="helpIdKeyboard">Raccourcis clavier</h2>
    </section>
    <section>
      <h2 toggle-click go-on-click="helpIdDevelopper">Développeur</h2>
      <ul>
        <li go-on-click="helpIdGithub">Github</li>
        <li go-on-click="helpIdApi">Api</li>
      </ul>
    </section>
  </nav>
  <div class="help-content">
    <section class="help-content-first-section">
      <h2 id="helpIdGeneral" class="help-content-first-h2">Généralités</h2>
      <div>
        <span class="help-col2">Skimbo rassemble de nombreux réseaux-sociaux dans une seule fenêtre de votre navigateur.</span>
        <span class="help-col2">Pas besoin de rafraichir votre navigateur ! Lorsque de nouveaux messages sont disponibles, Skimbo les affiche pour vous en temps réel dans la fenêtre.</span>
      </div>
      <h3 id="helpIdProvidersServices">Providers - services</h3>
      <div>
        <span>Dans le jargon de Skimbo, les réseaux-sociaux sont des providers. Chaque provider offre plusieurs services. Typiquement, le provider Facebook, offre le service wall, ce sont tous les messages qui vous pouvez voir sur votre mur facebook. Il offre également le service messages personnels, qui sont les messages privés envoyés à un utilisateur ou qu'un utilisateur vous a envoyé.</span>
        <span>Voici la liste des providers et de leurs services :</span>
        <table>
          <thead>
            <tr><td>Logo</td><td>Provider</td><td>Service</td><td>Description</td></tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/assets/img/brand/twitter.png" with="24" height="24"></td>
              <td>Twitter</td>
              <td>wall</td>
              <td>Tous les tweets que vous pourriez voir sur le mur Twitter.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/twitter.png" with="24" height="24"></td>
              <td>Twitter</td>
              <td>user</td>
              <td>Tous les tweets que cet @utilisateur à poster.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/twitter.png" with="24" height="24"></td>
              <td>Twitter</td>
              <td>hashtag</td>
              <td>Tous les tweets contenant ce #hashtag.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/twitter.png" with="24" height="24"></td>
              <td>Twitter</td>
              <td>directMessage</td>
              <td>Tous les tweets qui sont dans votre boite personnelle.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/twitter.png" with="24" height="24"></td>
              <td>Twitter</td>
              <td>messageToMe</td>
              <td>Les tweets dans lesquels votre @nom apparait.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
              <td>Facebook</td>
              <td>wall</td>
              <td>Les messages apparaissant sur votre mur Facebook.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
              <td>Facebook</td>
              <td>notification</td>
              <td>Les notifications de ce que font vos amis sur Facebook.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
              <td>Facebook</td>
              <td>user</td>
              <td>Tout ce qu'un utilisateur à poster. En fonction des règles de sécurité, ce contenu peut afficher uniquement les messages publiques.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
              <td>Facebook</td>
              <td>group</td>
              <td>Tout se qui se dit dans ce groupe.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
              <td>Facebook</td>
              <td>page</td>
              <td>Tout ce qu ela page partage.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
              <td>Facebook</td>
              <td>message</td>
              <td>Tous les messages de votre boite personnelle dans Facebook.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/viadeo.png" with="24" height="24"></td>
              <td>Viadeo</td>
              <td>smartNews</td>
              <td>?? Si vous savez ce que sait merci de nous le dire ??</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/viadeo.png" with="24" height="24"></td>
              <td>Viadeo</td>
              <td>newsFeed</td>
              <td>?? Si vous savez ce que sait merci de nous le dire ??</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/viadeo.png" with="24" height="24"></td>
              <td>Viadeo</td>
              <td>homeNeewsFeed</td>
              <td>Tous les messages apparaissant sur la première page après login de Viadeo.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/viadeo.png" with="24" height="24"></td>
              <td>Viadeo</td>
              <td>inbox</td>
              <td>Tous les messages de votre boite personnelle Viadéo.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/linkedin.png" with="24" height="24"></td>
              <td>Linkedin</td>
              <td>wall</td>
              <td>Tous les messages apparaissant sur la première page après login de Linkedin.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/googleplus.png" with="24" height="24"></td>
              <td>Googleplus</td>
              <td>wall</td>
              <td>Tous les messages apparaissant sur la première page après login de Googleplus.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/googleplus.png" with="24" height="24"></td>
              <td>Googleplus</td>
              <td>user</td>
              <td>Tous les messages publiques de cet utilisateur.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/github.png" with="24" height="24"></td>
              <td>Github</td>
              <td>userEvents</td>
              <td>Tous les évennements produits par un utilisateur.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/trello.png" with="24" height="24"></td>
              <td>Trello</td>
              <td>notifications</td>
              <td>Toutes les notifications de trello pour votre compte.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/scoopit.png" with="24" height="24"></td>
              <td>Scoopit</td>
              <td>wall</td>
              <td>Tous les messages apparaissant sur la première page après login de Scoopit.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/scoopit.png" with="24" height="24"></td>
              <td>Scoopit</td>
              <td>topic</td>
              <td>Tous les messages apparaissant sur le topic choisi.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/betaseries.png" with="24" height="24"></td>
              <td>Betaseries</td>
              <td>planning</td>
              <td>La date des prochains épisodes que vous suivez sur Betaseries.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/betaseries.png" with="24" height="24"></td>
              <td>Betaseries</td>
              <td>timeline</td>
              <td>Toutes les notifications de votre compte Betaseries.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/rss.png" with="24" height="24"></td>
              <td>Rss</td>
              <td>rss</td>
              <td>Les messages du flux rss.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/bitbucket.png" with="24" height="24"></td>
              <td>Bitbucket</td>
              <td>eventsRepo</td>
              <td>Tous les évennements du repositori choisi.</td>
            </tr>
            <tr>
              <td><img src="/assets/img/brand/bitbucket.png" with="24" height="24"></td>
              <td>Bitbucket</td>
              <td>commits</td>
              <td>Tous les commits du repositeri choisi.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <h2 id="helpIdAccount">Mon compte</h2>
      <div>Votre compte rassemble toutes les données vous concernant, que Skimbo a récupéré auprès des <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a> dont vous lui avez donné accès.</div>
      <h3 id="helpIdWhereFindAccount">Où le trouver ?</a></h3>
      <div class="help-content-img-left">
        <img src="/assets/img/help/account.png" width="90" height="293">
        <div>Votre compte est accessible par le bouton tout en haut du menu à gauche. Il vous suffit de cliquer sur l'image d'un de vos comptes relié à Skimbo.</div>
      </div>
      <h3 id="helpIdPauseToken">Mettre en pause un accès</h3>
      <div class="help-content-img-center">
        <img src="/assets/img/help/pauseToken.png" width="300" height="160">
        <div>Pour que Skimbo arrête de récupérer vos données d'un ou plusieurs <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a>, jusqu'à votre prochaine connexion, il vous suffit de cliquer sur le symbole pause (2 traits verticaux), dans votre <a go-on-click="helpIdWhereFindAccount" class="help-inside-link">compte</a>.</div>
      </div>
      <h3 id="helpIdDeleteToken">Supprimer un accès</h3>
      <div class="help-content-img-center">
        <img src="/assets/img/help/deleteToken.png" width="300" height="160">
        <div>Si vous souhaitez que Skimbo ne récupère plus de données sur un ou plusieurs <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a>, vous pouvez tout simplement lui retirer son droit d'accès. Pour cela, rendez-vous dans votre compte et cliquez sur la croix en face du provider. Attention, Skimbo ne sera plus en mesure de retrouver vos colonnes, si après avoir supprimer un accès, vous vous re-connectez par le biais de ce provider. En effet, en toute transparence, Skimbo supprime réellement ce droit d'accès et toutes les données (nom, prénom, image...) qui y sont reliés. Si vous avez des colonnes contenant des services de ce provider, vous devrez les supprimer si vous ne voulez pas que Skimbo affiche "Vous êtes déconnecté de..." à chaque connexion.</div>
      </div>
      <h3 id="helpIdDisconnect">Déconnexion</h3>
      <div>Pour vous déconnecter de Skimbo, allez dans votre <a go-on-click="helpIdWhereFindAccount" class="help-inside-link">compte</a> et cliquez sur "déconnexion". Vous serez alors redirigez vers la page de login, et Skimbo arrêtera d'aller chercher des nouveaux messages chez les différents <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a>. Vous devrez vous reconnecter avec un réseau se trouvant dans la <a go-on-click="helpIdProvidersServices" class="help-inside-link">liste des providers</a>, pour que Skimbo retrouve vos colonnes.</div>
      <h3 id="helpIdContactUs">Nous contacter</h3>
      <div class="help-content-img-center">
        <img src="/assets/img/help/contactUs.png" width="300" height="210">
        <div>Pour nous contacter, il vous suffit de vous rendre dans votre <a go-on-click="helpIdAccount" class="help-inside-link">compte</a> et de cliquer sur le bouton "@ Nous contacter". Remplissez tous les champs et cliquer sur "Envoyer". Si le message ne nous parvient pas, vous serez prévenu par une notification.</div>
      </div>
    </section>
    <section>
      <h2 id="helpIdColumn">Colonne</h2>
      <div  class="help-content-img-left">
        <img src="/assets/img/help/column.png" width="100" height="200">
        <div>Les colonnes de Skimbo vous permettent de définir votre propre interface. Ces colonnes afficheront vos messages des <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a> de la manière dont vous le souhaitez. Pour cela ajouter des services dans ces colonnes, redimensionner les et enfin déplacer les comme vous le souhaitez.</div>
      </div>
      <h3 id="helpIdColumnAdd">Ajouter</h3>
      <div  class="help-content-img-center">
        <img src="/assets/img/help/addColumn.png" width="200" height="200">
        <div>Pour ajouter une colonne, il suffit de cliquer sur le bouton en forme de colonne avec un plus, dans le menu à gauche. Ensuite, choisissez un <a go-on-click="helpIdProvidersServices" class="help-inside-link">provider</a> et un ou plusieurs <a go-on-click="helpIdProvidersServices" class="help-inside-link">services</a>. Vous pouvez mixer les providers et leurs services comme vous le souhaitez. Une fois validé votre nouvelle colonne est disponible dans Skimbo. A tout moment vous pouvez la <a go-on-click="helpIdColumnMod" class="help-inside-link">modifier</a>, la <a go-on-click="helpIdColumnDrag" class="help-inside-link">déplacer</a>, la <a go-on-click="helpIdColumnResize" class="help-inside-link">redimensionner</a> ou encore la <a go-on-click="helpIdColumnDel" class="help-inside-link">supprimer</a>.</div>
      </div>
      <h3 id="helpIdColumnMod">Modifier</h3>
      <div class="help-content-img-left">
        <img src="/assets/img/help/modifColumn.png" width="238" height="48">
        <div>Cliquer sur le bouton en forme de roue en haut à droite de la colonne. Vous serez redirigé vers la même fenêtre que pour <a go-on-click="helpIdColumnAdd" class="help-inside-link">ajouter</a> une colonne.</div>
      </div>
      <h3 id="helpIdColumnDel">Supprimer</h3>
      <div class="help-content-img-center">
        <img src="/assets/img/help/deleteColumn.png" width="250" height="230">
        <div>Cliquer sur <a go-on-click="helpIdColumnMod" class="help-inside-link">"modifier"</a> la colonne, puis le bouton "Supprimer" en bas de la fenêtre.</div>
      </div>
      <h3 id="helpIdColumnResize">Redimensionner</h3>
      <div class="help-content-img-left">
        <img src="/assets/img/help/resizeColumn.png" width="230" height="300">
        <div>Cliquer sur le bouton avec des flêches en haut à droite de la colonne. Vous pouvez cliquer sur un carré gris pour donner une taille à la colonne. Plus le carré est en bas à droite plus la colonne sera grand.</div>
      </div>
      <h3 id="helpIdColumnDrag">Déplacer</h3>
      <div class="help-content-img-center">
        <img src="/assets/img/help/moveColumn.png" width="300" height="150">
        <div>Cliquer sur le titre de la colonne, sans relacher. Puis déplacer la souris sur une autre colonne, pour que la 1ere prenne la place de la 2eme.</div>
      </div>
    </section>
    <section>
      <h2 id="helpIdMessages">Messages</h2>
      <div class="help-content-img-center">
        <img src="/assets/img/help/columnNewMsg.png" width="238" height="314">
        <div>Lorsque Skimbo récupère un nouveau message il l'ajoute en haut de la colonne correspondante au <a go-on-click="helpIdProvidersServices" class="help-inside-link">provider et au service</a> que vous avez choisis. De plus, il vous signal, que vous avez un (des) message(s) non lu par le petit chiffre rouge à côté de l'<a go-on-click="helpIdMessagesAllWatch" class="help-inside-link">oeuil</a> en haut à droite de la colonne. Lorsque vous remontez l'ascenseur, les messages sont automatiquement marqué comme lu. Visuellement ils passent de gris à blanc afin de savoir ce qu'on a lu ou pas.</div>
      </div>
      <h3 id="helpIdMessagesAllWatch">Tous les messages lus</h3>
      <div class="help-content-img-left">
        <img src="/assets/img/help/seeAllMsg.png" width="241" height="42">
        <div>Vous pouvez marquer tous les messages comme lu en cliquant sur l'oeuil en haut à droite de la <a go-on-click="helpIdColumn" class="help-inside-link">colonne</a>.</div>
      </div>
      <h3 id="helpIdMessagesComment">Commenter</h3>
      <div class="help-content-img-right">
        <img src="/assets/img/help/commentMessage.png" width="217" height="189">
        <div>Lorsque le <a go-on-click="helpIdProvidersServices" class="help-inside-link">provider et le service</a> du <a go-on-click="helpIdMessages" class="help-inside-link">message</a> le permettent, vous pouvez cliquer sur la flèche en bas à droite du message pour le commenter. Une fois fini tapper sur la touche "entrer" pour envoyer ce message.</div>
      </div>
      <h3 id="helpIdMessagesShare">Partager</h3>
      <div class="help-content-img-left">
        <img src="/assets/img/help/shareMessage.png" width="213" height="183">
        <div>Si vous cliquez sur le trident retourné, vous pourrez <a go-on-click="helpIdSkimber" class="help-inside-link">skimber</a> le message.</div>
      </div>
      <h3 id="helpIdMessagesRefresh">Rafraichir</h3>
      <div class="help-content-img-right">
        <img src="/assets/img/help/refreshMessage.png" width="214" height="188">
        <div>Cliquez sur la double flêche dessous le message pour le rafraichir.</div>
      </div>
      <h3 id="helpIdMessagesStar">Marquer</h3>
      <div class="help-content-img-left">
        <img src="/assets/img/help/starMessage.png" width="213" height="187">
        <div>"Marquer" ou encore "Star" le message dans le jargon Skimbo, permet, en fonction du <a go-on-click="helpIdProvidersServices" class="help-inside-link">provider</a>, de le retweeter, liker, thanker...</div>
      </div>
      <h3 id="helpIdMessagesMedias">Médias</h3>
      <div class="help-content-img-left" style="height:200px">
        <img src="/assets/img/help/mediasMessage.png" width="213" height="194">
        <div>Lorsque le <a go-on-click="helpIdMessages" class="help-inside-link">message</a> contient un média (uniquement photo pour le moment), vous pouvez cliquer dessus pour l'agrandir.</div>
      </div>
    </section>
    <section>
      <h2 id="helpIdSkimber">Skimber</h2>
      <div class="help-content-img-center">
        <img src="/assets/img/help/skimber.png" width="512" height="309">
        <div>Skimber, signifie, dans le jargon de Skimbo, envoyer un message à tous les réseaux sociaux dont vous avez donné l'accès. Ou en d'autres termes, il s'agit d'inverser le flux de données. En effet, Skimbo permet de récupérer tous les messages des <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a> mais aussi d'envoyer un message sur tous ces <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a>.</div>
      </div>
      <h3 id="helpIdSkimberProvidersRules">Règles proviers</h3>
      <div>Skimbo vous permet d'envoyer un message sur plusieurs <a go-on-click="helpIdProvidersServices" class="help-inside-link">providers</a> en même temps. Mais chaque <a go-on-click="helpIdProvidersServices" class="help-inside-link">provider</a> à ses propres règles pour définir un message. Certains ont besoin d'un titre, d'autres d'un lien ou encore d'une image.</div>
      <div>Voici l'ensemble des règles :</div>
      <table>
        <thead>
          <tr><td>Logo</td><td>Provider</td><td>Titre</td><td>Lien</td><td>Image</td><td>description</td></tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/img/brand/twitter.png" with="24" height="24"></td>
            <td>Twitter</td>
            <td>Non utilisé</td>
            <td>Non utilisé</td>
            <td>Non utilisé</td>
            <td>Envoi un tweet sur votre mur. Toutes les règles de twitter restent les même (140 caractères max au delà le message est coupé, si votre message commence par @user ce message lui sera destiné...). Même si twitter accepte les liens et les images, ceux-ci doivent être directement dans le corps du message. Afin de ne pas entrer en conflit avec d'autres providers, nous avons préférés ne les pas intégrer directement pour vous.</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
            <td>Facebook</td>
            <td>Non utilisé</td>
            <td>Optionel</td>
            <td>Optionel</td>
            <td>Envoi un message sur votre mur facebook.</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/facebook.png" with="24" height="24"></td>
            <td>Facebook</td>
            <td>Non utilisé</td>
            <td>Optionel</td>
            <td>Optionel</td>
            <td>Envoi un message sur la page facebook choisie. Vous ne pouvez envoyer de message que sur les pages dont vous êtes administrateur.</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/linkedin.png" with="24" height="24"></td>
            <td>Linkedin</td>
            <td>Obligatoire</td>
            <td>Optionel</td>
            <td>Optionel</td>
            <td>Envoi un message sur votre timeline Linkedin.</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/github.png" with="24" height="24"></td>
            <td>Github</td>
            <td>Obligatoire</td>
            <td>Non utilisé</td>
            <td>Non utilisé</td>
            <td>Créer un gist dans votre compte personnel, avec comme titre du fichier le titre et le corps est le message (WTF !? Oui le jour où j'ai dev ça, j'ai bien trippé).</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/googleplus.png" with="24" height="24"></td>
            <td>Googleplus</td>
            <td>Obligatoire</td>
            <td>Optionel</td>
            <td>Optinel</td>
            <td>Créer un message dans Googleplus dans un endroit complètement caché. Seuls les membres de vos cercles et utilisant Skimbo pourraient y avoir accès. Nous n'avons jamais finit ce dev, en attendant qu'ils ouvrent leur api un petit plus.</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/scoopit.png" with="24" height="24"></td>
            <td>Scoopit</td>
            <td>Obligatoir</td>
            <td>Optionel</td>
            <td>Optionel</td>
            <td>Créer un topic dans le board sélectionné. Vous devez être habilité à créer des topics dans ce board pour le sélectionner.</td>
          </tr>
          <tr>
            <td><img src="/assets/img/brand/viadeo.png" with="24" height="24"></td>
            <td>Viadeo</td>
            <td>Obligatoir</td>
            <td>Optionel</td>
            <td>Optionel</td>
            <td>Envoi un message sur votre timeline Viadeo.</td>
          </tr>
        </tbody>
      </table>
      <h3 id="helpIdSkimberDelayed">Planifier</h3>
      <div class="help-content-img-center">
        <img src="/assets/img/help/skimberDelayed.png" width="427" height="279">
        <div>Vous pouvez également, planifier ce message, afin que Skimbo l'envoi pour vous à une date et uen heure précise. Pour cela, il vous suffit de cliquer sur "planifier" une fois votre <a go-on-click="helpIdMessages" class="help-inside-link">message</a> écrit. Puis sélectionnez une date et une heure, votre message sera alors envoyé au moment choisis, avec un maximum d'une minute d'écart. Attention, si entre temps, vous avez révoqué l'accès de Skimbo auprès du <a go-on-click="helpIdProvidersServices" class="help-inside-link">provider</a>, ce message ne pourra pas être envoyé.</div>
      </div>
    </section>
    <section>
      <h2 id="helpIdKeyboard">Raccourcis clavier</h2>
      <div>Ctrl+B : floute le texte des messages</div>
    </section>
    <section>
      <h2 id="helpIdDevelopper">Développeur</h2>
      <div>Nous ne le disons peut être pas assez mais Skimbo est open-source ! Rejoignez-nous sur Github et aidez-nous à rendre le web plus agréable !</div>
      <h3 id="helpIdGithub">Github</h3>
      <div>Forkez, pull-requestez, ouvrez des issues, améliorez la doc... Nous avons besoin de vous. Tout ce passe sur notre <a href="https://github.com/Froggies/Skimbo" target="_blank">github</a>.</div>
      <h3 id="helpIdApi">Api</h3>
      <div>Nous fournissons une <a href="https://github.com/Froggies/Skimbo/wiki/Protocole-Client-----Serveur" target="_blank">api</a> des plus sommaire pour le moment. Si vous souhaitez en savoir plus n'hésitez pas à nous le demander.</div>
      <div>Voici un petit aperçut de notre architecture.</div>
      <img src="/assets/img/help/skimboHLA.png" width="500" height="260">
    </section>
  </div>
</div>