<section id="content">
	<section class="notifications" 
					 ng-controller="NotificationController"
					 ng-include src="'assets/app/views/notification.html'">
	</section>

	<div class="userNoColumn animated bounceInDown" ng-show="userNoColumn">
		<center>{{'ADD_FIRST_COLUMN_SENTENCE' | i18n}}</center><br />
		<ul>
			<li>{{'ADD_FIRST_SERVICE_SENTENCE' | i18n}}</li>
			<li>{{'ADD_FIRST_MODIF_SENTENCE' | i18n}}</li>
			<li>{{'ADD_FIRST_SIZE_SENTENCE' | i18n}}</li>
		</ul>
	</div>

	<section id="column_{{$index}}" 
			class="column" 
			ng-repeat="c in columns"
			drag="" dragStyle="columnDrag"
      drop="" dropStyle="columnDrop"
			style="width:{{c.csswidth}};height:{{c.cssheight}}">
		<header class="column-title">
			<div class="title" ng-hide="c.showModifyColumn">{{c.title}}</div>
			<input class="title-input error {{c.showErrorTitleAlreadyExist}} {{c.showErrorTitleRequired}}" type="text" ng-model="c.title" ng-show="c.showModifyColumn" value="{{c.title}}" onfocus="if (this.value.indexOf('What is here ?') != -1) this.value='';" />
			<div class="configure">
				<a href="#" ng-click="c.show_size_column=!c.show_size_column">⤭</a>
				<div class="column-size" ng-show="c.show_size_column">
					<div ng-repeat="h in c.compoSize">
						<a href="#" style="{{w.selectedStyle}}"
								ng-click="resizeColumn(c, h.height, w.width)" 
								ng-repeat="w in h.tab">■</a>
					</div>
					<br />
				</div>
				<a href="#" ng-click="modifyColumn(c)">⚙</a>
			</div>
		</header>
		<div class="column-content" ng-hide="c.showModifyColumn">
			<ul>
				<li class="element" ng-repeat="m in c.messages | filter:$parent.$parent.query">
					<div class="timeline">
						<div class="from-social-network vertical-text {{m.from}}">{{m.from}}</div>
						<div class="rond {{m.from}}"></div>
					</div>
					<div class="message-content">
						<img ng-src="{{m.authorAvatar}}" title="{{m.authorScreenName}}" width="32" height="32">
						<a href="{{m.directLink}}" class="author-name {{m.from}}" target="_blank">{{m.authorName}}</a>
						<p class="date-creation">{{m.dateAgo}}</p>
						<div class="message" ng-bind-html="m.message" title="{{m.original}}">
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
</section>
