<section id="content" ng-controller="ColumnsCtrl" >
	
	<section class="column" 			  
			 ng-repeat="c in columns">
		<header class="column-title">
			<div class="title" ng-hide="c.showModifyColumn">{{c.title}}</div>
			<input type="text" ng-model="c.title" ng-show="c.showModifyColumn" value="{{c.title}}"/>
			<div class="configure"><a href="#" ng-click="modifyColumn(c)">⚙</a></div>
		</header>
		<div class="column-content" ng-hide="c.showModifyColumn">
			<ul>
				<li class="element" ng-repeat="m in c.messages | filter:$parent.query">
					<div class="timeline">
						<div class="from-social-network vertical-text {{m.from}}">{{m.from}}</div>
						<div class="rond {{m.from}}"></div>
					</div>
					<div class="message-content">
						<img src="{{m.authorAvatar}}" title="{{m.authorScreenName}}" width="32" height="32">
						<a href="{{m.directLink}}" class="author-name" target="_blank">{{m.authorName}}</a>
						<p class="date-creation">{{m.createdAt | date:'mediumDate'}}</p>
						<div class="message" title="{{m.message}}"> {{truncateString(m.message)}}</div>
					</div>
				</li>
			</ul>
		</div>
		<div ng-show="c.showModifyColumn">
			<ul>
				<li ng-repeat="socialNetwork in socialNetworks">
					<a href="#" class="social-network-active {{isSocialNetworkActiveForColumn(c,socialNetwork.endpoint)}}">{{socialNetwork.endpoint}}</a>
					<ul>
						<li ng-repeat="socialNetworkService in socialNetwork.services">
							<a href="#" class="service-active {{isServiceActiveForColumn(c,socialNetworkService.service)}}" ng-click="activeService(c.title,socialNetworkService)">{{socialNetworkService.service}}</a>
							<ul ng-show="isServiceActiveForColumn(c,socialNetworkService.service)">
								<li ng-repeat="(key, value) in socialNetworkService.args">
									{{key}} = <input type="text" ng-model="socialNetworkService.args[key]" value="{{socialNetworkService.args[key]}}"/>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="services-proposes">
				<li ng-repeat="service in serviceProposes">
					<div class="social-network-link">
						<img src="assets/img/brand/{{service.socialNetwork}}.png" alt="{{service.socialNetwork}}" width="	32" height="32">
						<span class="social-network-char {{service.socialNetwork}}">{{service.typeServiceChar}}</span>
					</div>
				</li>
			</ul>
			<ul class="services-actives">
				<li ng-repeat="service in c.unifiedRequests">
					<div class="input-service" ng-show="hasArguments(service)" ng-repeat="(key, value) in service.args ">
						<img class="img-service" src="assets/img/brand/{{socialNetworkByServiceName(service.service)}}.png" alt="{{socialNetworkByServiceName(service.service)}}" width="32" height="32">
						<span class="type-service {{socialNetworkByServiceName(service.service)}}">{{typeServiceCharByService(service.service)}}</span>
						<input class="arg-service" type="text" value="{{service.args[key]}}"/>
					</div>
					<div ng-show="!hasArguments(service)">
						<img src="assets/img/brand/{{socialNetworkByServiceName(service.service)}}.png" alt="{{socialNetworkByServiceName(service.service)}}" width="24" height="24">
						You are receving TYPE
					</div>
				</li>
			</ul>



			<a href="#" ng-click="changeColumn(c); c.showModifyColumn=!c.showModifyColumn; " >Change</a>
			<a href="#" ng-click="deleteColumn(c)">Delete</a>
		</div>
	</section>
	<section class="column-new">
		<a href="#" ng-click="addColumn()">New</a>
	</section>
</section>
