<div id="content-div-add-column" ng-controller="ModifColumnController">
  <a class="button button-close" ng-click="close()" />X</a>
  <a class="button button-help" ng-click="showHelp()" />?</a>
  <div class="error-div">
    <span class="error-message" ng-show="showErrorTitleRequired">{{'TITLE_REQUIRED' | i18n}}</span>
    <br ng-show="showErrorTitleRequired"/>
    <span class="error-message" ng-show="showErrorTitleAlreadyExist">{{'TITLE_ALREADY_EXISTS' | i18n}}</span>
  </div>
  <div class="modif-column-title">
    {{'COLUMN_TITLE' | i18n}} <input class="title-input error" type="text" ng-model="column.title" value="{{column.title}}" />
  </div>
  <div>
    <div class="services-in-column" ng-show="column.unifiedRequests.length > 0">
      {{'ALREADY_IN_YOUR_COLUMN' | i18n}}
      <div class="error-div">
        <span class="error-message" ng-show="showErrorBlankArg">{{'ALL_FIELD_REQUIRED' | i18n}}</span>
        <span class="error-message" ng-show="showErrorDoubleParser">{{'CANT_ADD_SAME_SERVICE' | i18n}}</span>
      </div>
      <ul>
        <li class="services-proposes" ng-repeat="service in column.unifiedRequests">
          <div class="input-service" ng-show="service.hasArguments" ng-repeat="arg in service.args ">
            <img class="img-service" ng-src="assets/img/brand/{{service.providerName}}.png" alt="{{service.providerName}}" width="24" height="24">
            <input class="arg-service" type="text" ng-model="arg.display" placeholder="{{arg.key}}" pattern="[ a-zA-Z0-9]*" oracle="service" oracle-type="paramHelperSearch" oracle-store="arg" focus/>
            <a class="delete-service {{service.providerName}}" ng-click="deleteService(service,arg)">✘</a>
            <div class="container-oracle" ng-show="arg.possibleValues.length > 0">
              <ul>
                <li class="value-oracle"
                  ng-repeat="val in arg.possibleValues"
                  ng-click="selectOracle(arg, val)">
                  <img ng-src="{{val.avatarUrl}}" width="24" height="24"/>{{val.display}}
                </li>
              </ul>
            </div>
          </div>
          <div class="input-service" ng-hide="service.hasArguments">
            <img class="img-service" ng-src="assets/img/brand/{{service.providerName}}.png" alt="{{service.providerName}}" width="24" height="24">
            <div class="receving-service">{{service.serviceName}}</div>
            <a class="delete-service {{service.providerName}}"
              ng-click="deleteService(service,arg)"
            >✘</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="sub-content" style="width:{{availableSocialNetworksWidth}}">
      {{'AVAILABLE_SOCIAL_NETWORKS' | i18n}}
      <ul>
        <li class="services-proposes" ng-repeat="provider in providers">
          <a class="button-a {{provider.selected}} button-provider modif-column-button-provider" ng-click="selectSocialNetwork(provider)">
            <img class="social-network-active" ng-src="assets/img/brand/{{provider.name}}.png" alt="{{provider.name}}" width="32" height="32">
          </a>
        </li>
      </ul>
    </div>
    <div class="sub-content sub-content-right" ng-show="selectedSocialNetwork != undefined">
      {{'AVAILABLE_SERVICES' | i18n}}
      <ul>
        <li class="services-proposes" ng-repeat="service in selectedSocialNetwork.services">
          <a class="button-a" ng-click="addService(service)">
            {{service.serviceName}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="controls-footer">
    <a class="button-a delete-link" ng-click="deleteColumn(c)" ng-hide="column.newColumn">{{'DELETE' | i18n}}</a>
    <a class="button-a" ng-click="validate()" ng-hide="column.newColumn">{{'CHANGE' | i18n}}</a>
    <a ng-show="column.newColumn" class="button-a" ng-click="validate()" />{{'CREATE' | i18n}}</a>
  </div>
</div>
