<div ng-controller="ModifColumnController" class="button-selected-{{showModifyColumn}}">
  <div class="glass-div" ng-show="showModifyColumn" ng-click="show()"></div>
  <div ng-click="show()">
    <img class="button-img" src="assets/img/min-add-col.png" /><span id="modifButton">{{'ADD_NEW_COLUMN' | i18n}}</span>
  </div>
  <div id="content-div-add-column" ng-show="showModifyColumn">
    <div class="error-div">
      <span class="error-message" ng-show="showErrorTitleRequired">{{'TITLE_REQUIRED' | i18n}}</span>
      <br ng-show="showErrorTitleRequired"/>
      <span class="error-message" ng-show="showErrorTitleAlreadyExist">{{'TITLE_ALREADY_EXISTS' | i18n}}</span>
    </div>
    <div id="column-title">
      {{'COLUMN_TITLE' | i18n}} <input class="title-input error" type="text" ng-model="column.title" ng-show="showModifyColumn" value="{{column.title}}" />
    </div>
    <div id="choose-service-provider">
      <div id="services-in-column" ng-show="column.unifiedRequests.length > 0">
        {{'ALREADY_IN_YOUR_COLUMN' | i18n}}
        <div class="error-div">
          <span class="error-message" ng-show="showErrorBlankArg">{{'ALL_FIELD_REQUIRED' | i18n}}</span> 
          <span class="error-message" ng-show="showErrorDoubleParser">{{'CANT_ADD_SAME_SERVICE' | i18n}}</span>
        </div>
        <ul class="services-proposes">
          <li ng-repeat="service in column.unifiedRequests">
            <div class="input-service" ng-show="service.hasArguments" ng-repeat="arg in service.args ">
              <img class="img-service" ng-src="/assets/img/brand/{{service.providerName}}.png" alt="{{service.providerName}}" width="24" height="24">
              <input class="arg-service" type="text" ng-model="arg.value" placeholder="{{arg.key}}" pattern="[ a-zA-Z0-9]*" oracle="service" oracle-type="paramHelperSearch" oracle-store="arg"/>
              <a class="delete-service {{service.providerName}}" ng-click="deleteService(service,arg)">✘</a>
              <div class="container-oracle" ng-show="arg.possibleValues.length > 0">
                <ul>
                  <li class="value-oracle" 
                    ng-repeat="val in arg.possibleValues"
                    ng-click="selectOracle(arg, val)">
                    <img ng-src="{{val.avatarUrl}}" width="24" height="24"/>{{val.display}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="input-service" ng-hide="service.hasArguments">
              <img class="img-service" ng-src="/assets/img/brand/{{service.providerName}}.png" alt="{{service.providerName}}" width="24" height="24">
              <div class="receving-service">{{service.serviceName}}</div>
              <a 
                class="delete-service {{service.providerName}}"
                ng-click="deleteService(service,arg)"
              >✘</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="sub-content" style="width:{{availableSocialNetworksWidth}}">
        {{'AVAILABLE_SOCIAL_NETWORKS' | i18n}}
        <ul class="services-proposes">
          <li ng-repeat="provider in providers">
            <div class="social-network-link">
              <a class="btn {{provider.selected}}" ng-click="selectSocialNetwork(provider)">
                <img class="social-network-active" ng-src="/assets/img/brand/{{provider.name}}.png" alt="{{provider.name}}" width="32" height="32"></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="sub-content sub-content-right" ng-show="selectedSocialNetwork != undefined">
        {{'AVAILABLE_SERVICES' | i18n}}
        <ul class="services-proposes">
          <li ng-repeat="service in selectedSocialNetwork.services">
            <div class="social-network-link {{service.hasParser}}">
              <a class="button-a" ng-click="addService(service)">
                {{service.serviceName}}
              </a> 
            </div>
          </li>
        </ul>
        <div ng-show="googleReaderSelected" style="line-height:20px;">
          <textarea ng-model="googleReaderFeeds"></textarea>
          <a class="btn" ng-click="parseGoogleReader()" style="vertical-align:top">{{'GR_PARSE' | i18n}}</a>
          <ul>
            <li>{{'GR_1_BEFORE_LINK' | i18n}}
              <a href="https://www.google.com/reader/api/0/subscription/list?output=json" target="_blank">{{'GR_1_LINK' | i18n}}</a>{{'GR_1_AFTER_LINK' | i18n}}
            </li>
            <li>{{'GR_2' | i18n}}</li>
            <li>{{'GR_3' | i18n}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="controls-new"> 
      <a class="button-a delete-link" ng-click="cancelCreateColumn()">{{'CANCEL' | i18n}}</a>
      <a class="button-a delete-link" ng-click="deleteColumn(c)" ng-hide="column.newColumn">{{'DELETE' | i18n}}</a>
      <a class="button-a" ng-click="validate()"ng-hide="column.newColumn">{{'CHANGE' | i18n}}</a>
      <a ng-show="column.unifiedRequests.length > 0 && column.newColumn" class="button-a" ng-click="validate()" />{{'CREATE' | i18n}}</a>
    </div>
  </div>
</div>