<div id="main-div" ng-controller="ModifColumnController">
  <input id="modifButton" type="button" ng-click="newColumn()" value="{{'ADD_NEW_COLUMN' | i18n}}" />
  <div id="content-div-add-column" ng-show="showModifyColumn">
    <div id="column-title">
      {{'COLUMN_TITLE' | i18n}} <input class="title-input error" type="text" ng-show="showModifyColumn" value="test AFAIRE" />
    </div>
    <div id="choose-service-provider">
        <div id="providers-selected">
          <ul class="services-proposes">
            <li ng-repeat="providerSelected in socialNetworksSelected">
              <div class="social-network-link">
                <a href="#" ng-click="selectSocialNetwork(providerSelected)" ref="{{'ADD_STREAM_FOR_SOCIAL_NETWORK' | i18n}} {{providerSelected.name}}">
                  <img class="social-network-active {{service.hasParser}}" ng-src="assets/img/brand/{{providerSelected.name}}.png" alt="{{providerSelected.name}}" width="32" height="32"></a>
                  {{providerSelected.selected}}
              </div>
            </li>
          </ul>
        </div>
        <div id="providers-available">
          {{'AVAILABLE_SOCIAL_NETWORKS' | i18n}}
          <ul class="services-proposes">
            <li ng-repeat="provider in providersAvailable">
              <div class="social-network-link">
                <a href="#" ng-click="addSocialNetwork(provider)" ref="{{'ADD_STREAM_FOR_SOCIAL_NETWORK' | i18n}} {{provider.name}}">
                  <img class="social-network-active {{service.hasParser}}" ng-src="assets/img/brand/{{provider.name}}.png" alt="{{provider.name}}" width="32" height="32"></a>
              </div>
            </li>
          </ul>
        </div>
        <div id="services-available">
          {{'AVAILABLE_SERVICES' | i18n}}
          <ul class="services-proposes">
            <li ng-repeat="service in servicesAvailable">
              <div class="social-network-link">
                <a href="#" ng-click="addSocialNetwork(service)" ref="{{'ADD_STREAM_FOR_SOCIAL_NETWORK' | i18n}} {{service.service}}">
                  <img class="social-network-active {{service.hasParser}}" ng-src="assets/img/brand/{{service.service}}.png" alt="{{service.service}}" width="32" height="32"></a>
              </div>
            </li>
          </ul>
        </div>
        <div id="services-in-column">
        </div>
    </div>
  </div>
</div>