<div id="content-div-post-message" ng-controller="PostMessageController">
  <div class="error-div">
    <span class="error-message" ng-show="showErrorTitleRequired">{{'TITLE_REQUIRED' | i18n}}</span>
    <br ng-show="showErrorTitleRequired"/>
    <span class="error-message" ng-show="showErrorContentRequired">{{'CONTENT_REQUIRED' | i18n}}</span>
    <br ng-show="showErrorContentRequired"/>
    <span class="error-message" ng-show="showErrorPosterRequired">{{'POSTER_REQUIRED' | i18n}}</span>
    <br ng-show="showErrorPosterRequired"/>
    <span class="error-message" ng-show="showErrorBadDate">{{'BAD_DATE_POSTER' | i18n}}</span>
  </div>
  <a class="button post-close" ng-click="close()" />X</a>
  <a class="button post-help" ng-click="showHelp = !showHelp" />?</a>
  <ul class="posters-proposes">
    <li ng-repeat="provider in providers">
      <div class="social-network-link">
        <a class="button-a {{provider.selected}} button-provider" ng-click="selectPoster(provider)">
          <img class="social-network-active" ng-src="/assets/img/brand/{{provider.service}}.png" alt="{{provider.service}}" width="16" height="16">
          <input
            class="post-param-input"
            ng-model="provider.toPageId"
            ng-show="provider.canHavePageId"
            value="{{provider.toPageId}}"
            oracle="provider" oracle-type="paramPostHelperSearch" oracle-store="provider"/>
        </a>
        <div class="container-oracle" ng-show="provider.possibleValues.length > 0">
          <ul>
            <li class="value-oracle"
              ng-repeat="val in provider.possibleValues"
              ng-click="selectOracle(provider, val)">
              <img ng-src="{{val.avatarUrl}}" width="24" height="24"/>{{val.display}}
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="showTitleInput" class="post-message-title-container">
    <input class="post-title input{{showHelp}}" type="text" ng-model="title" value="{{title}}" placeholder="{{'PH_POST_TITLE' | i18n}}" />
    <ul class="posters-proposes-help" ng-show="showHelp">
      <li ng-repeat="provider in providersWithTitle">
        <div class="social-network-link">
          <a class="btn {{provider.selected}}">
            <img class="social-network-active" ng-src="/assets/img/brand/{{provider.service}}.png" alt="{{provider.service}}" width="16" height="16"></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="post-message-container">
    <textarea class="post-message inputmessage" ng-model="message" placeholder="{{'PH_POST_MESSAGE' | i18n}}">{{message}}</textarea>

    <a class="button-a icon-eye-1 button-preview"></a>
    <a class="button-a icon-link button-link" ng-click="showLinkInput=!showLinkInput"></a>
    <a class="button-a icon-camera button-image" ng-click="showImageInput=!showImageInput"></a>
  </div>
  <div ng-show="showLinkInput">
    <input class="post-title input{{showHelp}}" type="text" ng-model="url" value="{{url}}" placeholder="{{'PH_POST_URL' | i18n}}" />
    <ul class="posters-proposes-help" ng-show="showHelp">
      <li ng-repeat="provider in providersWithUrl">
        <div class="social-network-link">
          <a class="btn {{provider.selected}}">
            <img class="social-network-active" ng-src="/assets/img/brand/{{provider.service}}.png" alt="{{provider.service}}" width="16" height="16">
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div ng-show="showImageInput">
    <input class="post-title input{{showHelp}}" type="text" ng-model="image" value="{{image}}" placeholder="{{'PH_POST_URLIMAGE' | i18n}}" />
    <ul class="posters-proposes-help" ng-show="showHelp">
      <li ng-repeat="provider in providersWithImage">
        <div class="social-network-link">
          <a class="btn {{provider.selected}}">
            <img class="social-network-active" ng-src="/assets/img/brand/{{provider.service}}.png" alt="{{provider.service}}" width="16" height="16"></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="action-bar-footer">
    <div class="post-message-help" ng-show="maxLength && showHelp" style="color:hsl(0, {{100 - (maxLength - message.length / 1.5)}}%, 50%)"><img class="social-network-active" ng-show="maxLength == 140" ng-src="/assets/img/brand/twitter.png" alt="twitter" width="16" height="16">{{maxLength - message.length}}</div>
    <input type="textinput" placeholder="{{'PH_POST_DELAY' | i18n}}" ng-model="timeToPost" ng-show="isDelayedPost" />
    <a class="button-a" ng-click="isDelayedPost=!isDelayedPost">{{'SEND_LATER' | i18n}}</a>
    <a class="button-a" ng-click="post()">{{'SEND' | i18n}}</a>
  </div>
</div>
