#content-div-add-column {
  cursor: default;
  max-width: 400px;
  width: 80%;
  max-height: 80%;
  height: 80%;
  position: relative;
  top: 42px;
  padding: 5px;
  z-index: 10;
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
  text-align: center;
  color: #545454;
}

#content-div-add-column {
  background-color: #F2F2F2;
  border: 1px solid #545454;
  border-left: none;
  padding: 10px 20px 5px;
}

.modif-column-title {
  padding: 20px;
}

.services-in-column {
  padding-bottom: 20px;
}

.sub-content {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.sub-content-right {
  border-left: 1px solid #C1C1C1;
  padding-left: 5px;
}

.services-proposes {
  display: inline-block;
  list-style-type: none;
  padding: 2px;
}

.modif-column-button-provider {
  border: none;
  box-shadow: none;
}

.input-service {
  white-space: nowrap;
  line-height: 0;
  position: relative;
}

.social-network-active {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0 6px;
}

.social-network-link.false {
  opacity: 0.3;
}

.services-actives {
  margin: 0;
  padding: 15px;
  list-style-type: none;
}

.img-service{
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  background-color: #EEE;
  border: 1px solid #CCC;
}

.img-service,
.delete-service,
.arg-service,
.receving-service
 {
  line-height: 20px;
  height: 20px;
}

.delete-service {
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  min-width: 16px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #EEE;
  width: auto;
  border: 1px solid #CCC;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-left: -3px;
  white-space: nowrap;
}

.arg-service {
  display: inline-block;
  width: 80px;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
  margin-right: -3px;
  margin-left: -3px;
  vertical-align: middle;
  font-size: 13px;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  padding: 4px 6px;
  vertical-align: top;
}

.controls-footer {
  text-align: right;
  padding-top: 20px;
}

.receving-service {
  font-size: 11px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #EEE;
  border: 1px solid #CCC;
  margin-left: -4px;
  margin-right: -2px;
  display: inline-block;
  vertical-align: top;
}