@import "util.less";

.userNoColumn {
  margin-top: 45px;
  width: 50%;
  background-color: #FAFAFA;
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  margin-left: 170px;
  padding: 25px 20px 25px 0;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 99%;
  padding-left: 90px;
  display: inline-block;
  vertical-align: top;
  .boxSizing;
}

#content {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.column {
  float:left;
  width: 250px;
  max-height: 100%;
  height: 100%;
  margin: 3px;
  background: #fff;
  border: 1px solid #C1C1C1;
  border-bottom-color: #B6B6B6;
  -webkit-box-shadow: 0 1px 3px #C1C1C1;
  box-shadow: 0 1px 3px #C1C1C1;
  overflow: hidden;
  border-radius: 3px;
  .boxSizing;
}

.columnDrag {
  opacity: 0.2;
}

header.column-title {
  position: relative;
  height: 30px;
  background: #fff;
  border-radius: 3px;
  color: #545454;
  border-bottom-color: #ECECEC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  float: left;
  padding: 5px 0 5px 10px;
  cursor: crosshair;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerNbMsg {
  float: left;
  padding-top: 5px;
  cursor: pointer;
}

.linkNbMsg {
  color: red;
  font-size: 11px;
  margin-left: -6px;
  font-weight: bold;
}

.linkNbMsg.false {
  color: white;
}

.linkNbMsgIcon {
  color: #8B8B8B;
}

.linkNbMsgIcon:hover {
  color: #555;
}

.column-size {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #C1C1C1;
  z-index: 2;
  padding: 5px;
  cursor: pointer;
}

.configure {
  position: absolute;
  right: 2px;
  cursor: pointer;
}

.configure a {
  font-size: 21px;
  color: #8B8B8B;
  line-height: 30px;
}

.configure a:hover {
  color: #555;
}

.column-content {
  padding:0 0 0 5px;
  overflow: auto;
  height: 100%;
  width: 100%;
  .boxSizing;
}

.column-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column-content li .message-content .author-name {
  font-size: 14px;
}

.column-content li .message-content {
 border-bottom: 1px solid #ECECEC;
 padding: 10px 5px 5px 5px;
 font-size: 13px;
}

.column-content li .message-content li {
  border: none;
  list-style-type: disc;
}

.column-content-mini-img {
  margin-right: 5px;
  float:left;
}

.column-content li .message {
  clear:left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap:break-word;
}

.column-content p.date-creation {
  font-size: 9.5px;
  color: #B6B6B6;
  margin: 5px 4px 4px 4px;
}

.column-content li {
  border-left: 1px solid #ECECEC;
  padding-left: 10px;
  margin-left: 22px;
  position: relative;
}

.column-content .element.false {
  background-color: #E7E7E7;
}

.message-comment {
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  border-radius: 5px;
}

.message-footer {
  text-align: center;
  margin-bottom: -9px;
}

.button-a.message-footer-content {
  font-family: 'fontello';
  cursor: pointer;
  font-size: 10px;
  padding: 7px;
  color: #545454;
  vertical-align: bottom;
  background-color: #eee;
  border: 1px solid #ddd;
}

.button-a.message-footer-content:hover {
  background-color: #fff;
}

.button-a.message-footer-content:active {
  box-shadow: inset 0 0 1px #555;
}

.message-footer-loader {
  display: inline-block;
  width: 10px;
  line-height: 10px;
  height: 10px;
  vertical-align: bottom;
}

.message-footer-star-true {
  color: #C50000;
}

.vertical-text {
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    white-space:nowrap;
    bottom: 0;
    left: -42px;
  position: absolute;
}

.column-content li .timeline {
  position: absolute;
  bottom: 50%;
  left: -9px;
  font-size: 12px;
}

.from-social-network {
  text-align: center;
  text-transform: capitalize;
  width: 65px;
}

.rond {
  width:15px;
  height:15px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  border: 1px solid #C1C1C1;
}

.modify-column {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 537px;
}

.blur-text.true {
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.container-message-image {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.message-image {
  max-width: 75%;
  max-height: 75px;
  border: 2px solid #fff;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 12px #555;
  -webkit-box-shadow: 1px 1px 12px #555;
  box-shadow: 1px 1px 12px #555;
  margin: 0 5px 5px 5px;
}
