body {
	width: 100%;
	height: 100%;
	background-attachment: fixed !important;
	background: #e7e7e7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzhjOGM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #e7e7e7 50%, #c8c8c8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e7e7e7), color-stop(100%,#c8c8c8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 50%,#c8c8c8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 50%,#c8c8c8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 50%,#c8c8c8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e7e7 50%,#c8c8c8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-8 */
}

#publicApp {
	height: 100%;
	width: 100%;
}

header.banner {
	height: 45px;
	line-height: 45px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #B6B6B6;
	margin: 0 auto;
}

#header-general {
	height: 100%;
}

header .separateur-gris {
	float:left;
	margin-left: 20px;
	margin-right: 20px;
}

#loader {
	vertical-align: top;
	color: #CE0022;
	font-weight: bolder;
	text-shadow: 0px 1px 1px black;
	font-size: 15px;
}

#logo {
	float: left;
	margin-left: 2%;
	height: 40px;
	width: 114px;
	margin-top: 3px;
}

#formulaire {
	float: left;
}

#recherche-et-profil {
	float:right;
	margin-right: 2%;
	width: 50%;
	text-align: right;
}

input[type=search] {
	border-radius: 10px;
	height: 36px;
	width: 30%;
}

input[type=button] {
	height: 30px;
	border-radius: 5px;
	border: 1px solid #8f2025;
	color: white;
	font-size: 15px;
	text-shadow:0px 1px 1px #000000;
	background: #cb091c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiMDkxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2NhMGExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzk1MTQxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #cb091c 0%, #ca0a1c 44%, #95141b 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb091c), color-stop(44%,#ca0a1c), color-stop(70%,#95141b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* IE10+ */
	background: linear-gradient(to bottom, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb091c', endColorstr='#95141b',GradientType=0 ); /* IE6-8 */
}

.link-into-message, 
.banner a, 
.column-new a,
.delete-link, 
.services-actives a, 
.configure a, 
.delete-service, 
.notifications a {
	text-decoration: none;
}

.banner a,
.column-new a,
.delete-link, 
#nom-prenom img, 
.img-service, 
.receving-service {
	display: inline-block;
	vertical-align: middle;
}


.banner a {
	background: white;
	line-height: 30px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid #B6B6B6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.column-new a,
.delete-link {
	color: #B6B6B6;
	background: white;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #B6B6B6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#nom-prenom img {
	margin-right: 10px;
}

#bloc-utilisateur {
	width: 300px;
	z-index: 1;
	line-height: 0;
	position: absolute;
	background-color: #FAFAFA;
    border-radius: 10px;
    border: 2px solid #B6B6B6;
    right: 20px;
	top: 50px;
	font-size: 14px;
	color: #666;
}

.connected-on {
	text-align: left;
}

#bloc-utilisateur:after {
	content: "";
    position: absolute;
   	top: -18px;
    right: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FAFAFA;

}

#bloc-utilisateur:before {
	content: "";
    position: absolute;
   	top: -20px;
    right: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #B6B6B6;
}

.social-network-connected img {
	padding-right: 10px;
}

#reseaux-connectes {
	margin: 20px;
}

#reseaux-connectes a {
	border: none;
	border-radius: 0;
	background: #FAFAFA;
}

#reseaux-connectes a.deconnexion{
	float: right;
}

#reseaux-connectes ul {
	padding: 0;
}

#reseaux-connectes li {
	width: 95%;
	list-style-type: none;
	text-align: left;
}

#bloc-utilisateur footer {
	border-radius: 0 0 8px 8px;
	border-top: 1px solid #B6B6B6;
	background: #e0dbdb;
	text-align: center;
}

#bloc-utilisateur footer a {
	margin: 4px;
}

#bloc-utilisateur footer a, 
#nom-prenom
{
	color: #666;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/**************    Colonnes ****************/
.container {
	height: 92%;
}

#content {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.column {
	float:left;
	width: 250px;
	max-height: 100%;
	height: 100%;
	margin: 5px;
	background: #FAFAFA;
	border: 1px solid #C1C1C1;
	border-bottom-color: #B6B6B6;
	-webkit-box-shadow: 0 1px 3px #C1C1C1;
	box-shadow: 0 1px 3px #C1C1C1;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.column-new {
	float:left;
	line-height: 567px;
	height: 100%;
	text-align: center;
	width: 250px;
	margin: 5px;
	border: 1px solid #C1C1C1;
	border-bottom-color: #B6B6B6;
	-webkit-box-shadow: 0 1px 3px #C1C1C1;
	box-shadow: 0 1px 3px #C1C1C1;
}

header.column-title {
	position: relative;
	height: 30px;
	background: #b6b6b6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjZiNmI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYjZiNmI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjYzFjMWMxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MxYzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #b6b6b6 0%, #b6b6b6 50%, #c1c1c1 51%, #c1c1c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6b6b6), color-stop(50%,#b6b6b6), color-stop(51%,#c1c1c1), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* IE10+ */
	background: linear-gradient(135deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b6b6', endColorstr='#c1c1c1',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.title {
	float: left;
	padding: 5px 0 5px 10px;
	color: white;
	text-shadow:0px 1px 1px #000000;
}

.title-input {
	width: 150px;
}

.column-size {
	position: absolute;
	top: 30px;
	right: 0;
	background-color: #C1C1C1;
	z-index: 2;
	padding: 5px;
}

.configure {
	float: right;
	padding-right: 10px;
}

.configure a{
	font-size: 25px;
	color: white;
}

.column-content {
	padding:5px;
	overflow: auto;
	height: 93.7%;
}

.column-content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.column-content li .message-content .author-name {
	font-size: 14px;
}

.column-content li .message-content {
 border-bottom: 1px solid #ECECEC;
 padding: 10px 0px 10px 5px;
 font-size: 13px;
}

.column-content li img {
	margin-right: 5px;
	float:left;
}

.column-content li .message {
	clear:left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap:break-word;
}

.column-content p.date-creation {
	font-size: 9.5px;
	color: #B6B6B6;
	margin: 5px 4px 4px 4px;
}

.column-content li {
	border-left: 1px solid #C1C1C1;
	padding-left: 10px;
	margin-left: 22px;
	position: relative;
}

.vertical-text {
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    white-space:nowrap;
    bottom: 0;
    left: -42px;
	position: absolute;
}

.column-content li .timeline {
	position: absolute;
	bottom: 50%;
	left: -9px;
	font-size: 12px;
}

.from-social-network {
	text-align: center;
	text-transform: capitalize;
	width: 65px;
}

.rond {
	width:15px;
	height:15px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	border: 1px solid #C1C1C1;
}

.modify-column {
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 537px;
}

.add-service,
.connected-on,
.service-empty {
	margin: 15px 15px 0 15px;
}

.service-empty {
	margin-bottom: 15px;
}

.social-network-link{
	position: relative;
}

.social-network-char {
	position: absolute;
	bottom: 0;
	left: 23px;
}

.social-network-char.facebook{
	color: black;
}

.services-proposes {
	margin: 0;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid #C1C1C1;
}

.services-proposes li{
	display: inline-block;
	list-style-type: none;
	padding: 5px;
}

.input-service {
	margin-bottom: 5px;
	white-space: nowrap;
}

.social-network-active.false {
	opacity: 0.3;
}

.services-actives {
	margin: 0;
	padding: 15px;
	list-style-type: none;
}

.img-service{
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	margin-right: -1px;
	width: auto;
	min-width: 16px;
	padding: 4px 5px;
	background-color: #EEE;
	border: 1px solid #CCC;
}

.img-service,
.delete-service, 
.type-service,
.arg-service,
.receving-service
 {
	line-height: 20px;
	height: 20px;
}

.delete-service, 
.type-service {
	vertical-align: top;
	display: inline-block;
	font-weight: normal;
	font-size: 14px;
	min-width: 16px;
	padding: 4px 5px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	background-color: #EEE;
	width: auto;
	border: 1px solid #CCC;
}

.delete-service {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	margin-left: -3px;
	white-space: nowrap;
}

.type-service {
	margin-left: -4px;
	margin-right: -2px;
}

.arg-service {
	display: inline-block;
	width: 136px;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 0;
	margin-right: -3px;
	margin-left: -3px;
	vertical-align: top;
	font-size: 13px;
	background-color: white;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #555;
	padding: 4px 6px;
}

.controls-modify {
	text-align: center;
	vertical-align: middle;
	width: 250px;
}

.controls-new {
	text-align: center;
}

.receving-service {
	font-size: 11px;
	width: 150px;
	min-width: 16px;
	padding: 4px 5px;
	font-weight: normal;
	text-align: center;
	text-shadow: 0 1px 0 white;
	background-color: #EEE;
	border: 1px solid #CCC;
	margin-left: -4px;
	margin-right: -2px;
}

/*******************************************/
/**********    NOTIFICATIONS   *************/

.notifications {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 50;
    -webkit-perspective: 2000;
    -khtml-perspective: 2000;
    -moz-perspective: 2000;
    -o-perspective: 2000;
    perspective: 2000;
   
}
    
.notifications a {
	color: black;
}

.notif {
    padding: 10px;
    width: 225px;
    margin-bottom: 10px;
    
    border-radius: 5px;
    overflow: hidden;
    
    background: #B6B6B6;
    border: 1px solid #000;
    box-shadow: rgba(0,0,0,0.35) 0px 3px 6px, inset rgba(255,255,255,0.15) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 1px;
    
    -webkit-transform-style: preserve-3d;
    -khtml-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    
    -webkit-backface-visibility: hidden;
    -khtml-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-animation: flip 1s 1 linear;
    -khtml-animation: flip 1s 1 linear;
    -moz-animation: flip 1s 1 linear;
    -o-animation: flip 1s 1 linear;
    animation: flip 1s 1 linear;
        
    opacity: 0.9;

	background: #b6b6b6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjZiNmI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYjZiNmI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjYzFjMWMxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MxYzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #b6b6b6 0%, #b6b6b6 50%, #c1c1c1 51%, #c1c1c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6b6b6), color-stop(50%,#b6b6b6), color-stop(51%,#c1c1c1), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* IE10+ */
	background: linear-gradient(135deg, #b6b6b6 0%,#b6b6b6 50%,#c1c1c1 51%,#c1c1c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b6b6', endColorstr='#c1c1c1',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.notif .shine {
    position: absolute;
    width: 100%;
    height: 100%;
    
    margin-left: 50%;
    margin-top: -10px;
    padding-bottom: 10px;
    -webkit-transform-style: flat;
    -khtml-transform-style: flat;
    -moz-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
    
    -webkit-transform: skew(135deg);
    -khtml-transform: skew(135deg);
    -moz-transform: skew(135deg);
    -o-transform: skew(135deg);
    transform: skew(135deg);
    
    -webkit-animation: shine-in 1s 1 ease-out;
    -khtml-animation: shine-in 1s 1 ease-out;
    -moz-animation: shine-in 1s 1 ease-out;
    -o-animation: shine-in 1s 1 ease-out;
    animation: shine-in 1s 1 ease-out;
    
    background: -moz-linear-gradient(top, hsla(0,0%,100%,0.25) 0%, hsla(0,0%,100%,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,100%,0.2)), color-stop(100%,hsla(0,0%,100%,0)));
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
    background: -o-linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
    background: -ms-linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
    background: linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.notif .head, .notif .text {position: relative;}
.notif .head {
    max-width: 100%;
    min-width: 55%;
    font-weight: bold;
    text-shadow: #000 0px 1px 1px;
}

.notif .head img {
	padding-right: 10px;
}

.notif .head {
    padding-bottom: 4px;
    color: #f5f5f5;
}

.notif .text {
	max-width: 100%;
    min-width: 55%;
    color: black;
    font-size: 0.6em;
    -webkit-animation: text-in 1s 1 ease-out;
}

@-webkit-keyframes flip {
    0% {-webkit-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
    80% {-webkit-transform: rotateY(10deg);border-right-width: 0px;}
    95% {-webkit-transform: rotateY(-1deg);}
    100% {-webkit-transform: rotateY(0deg);}
}
@-webkit-keyframes shine-in {
    0% {margin-left: 100%;}
    100% {}
}
@-webkit-keyframes text-in {
    0% {margin-left: 25%;margin-right: -25%;}
}

/**
@-khtml-keyframes flip {
    0% {-khtml-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
    80% {-khtml-transform: rotateY(10deg);border-right-width: 0px;}
    95% {-khtml-transform: rotateY(-1deg);}
    100% {-khtml-transform: rotateY(0deg);}
}
@-khtml-keyframes shine-in {
      0% {margin-left: 100%;}
}
@-khtml-keyframes text-in {
      0% {margin-left: 25%;margin-right: -25%;}
}
LESS DON'T ACCEPT THIS !?**/

@-moz-keyframes flip {
    0% {-moz-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
    80% {-moz-transform: rotateY(10deg);border-right-width: 0px;}
    95% {-moz-transform: rotateY(-1deg);}
    100% {-moz-transform: rotateY(0deg);}
}
@-moz-keyframes shine-in {
    0% {margin-left: 100%;}
}
@-moz-keyframes text-in {
    0% {margin-left: 25%;margin-right: -25%;}
}

@-o-keyframes flip {
    0% {-o-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
    80% {-o-transform: rotateY(10deg);border-right-width: 0px;}
    95% {-o-transform: rotateY(-1deg);}
    100% {-o-transform: rotateY(0deg);}
}
@-o-keyframes shine-in {
    0% {margin-left: 100%;}
}
@-o-keyframes text-in {
    0% {margin-left: 25%;margin-right: -25%;}
}

@keyframes flip {
    0% {-o-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
    80% {-o-transform: rotateY(10deg);border-right-width: 0px;}
    95% {-o-transform: rotateY(-1deg);}
    100% {-o-transform: rotateY(0deg);}
}
@keyframes shine-in {
    0% {margin-left: 100%;}
}
@keyframes text-in {
    0% {margin-left: 25%;margin-right: -25%;}
}

@-webkit-keyframes fadein{
   0% {opacity: 0;}
   80% {opacity: 0;}
}

/**@-khtml-keyframes fadein{
    0% {opacity: 0;}
   80% {opacity: 0;}
}LESS DON'T ACCEPT THIS !?**/

@-moz-keyframes fadein{
   0% {opacity: 0;}
   80% {opacity: 0;}
}
@-o-keyframes fadein{
   0% {opacity: 0;}
   80% {opacity: 0;}
}
/**
@keyframes fadein {
   0% {opacity: 0;}
   80% {opacity: 0;}
}​
LESS DON'T ACCEPT THIS !?**/
/*******************************************/