h1 {
	font-size: 26px;
	margin: 0;
	font-weight: normal;
    margin: 0 0 30px;
}
h2 {
	font-size: 24px;
	margin: 0;
	font-weight: normal;
	color: #333;
}

#container {
    min-height: 100%;
    height: 100%;
}

img
{
	max-width: 100%;
	height: auto;
}

/** header **/
header {
	height: 40%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.logo {
	text-align: center;
}

.logo img {
	min-height: 16px;
	max-height: 100%;
	width: auto;
	padding-top: 20px;
}

#connect-with {
	font-size:36px;
	color: #7E7F81;
}


/** Section **/
section {
	text-align: center;
	padding-top: 20px;
	height: 30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

section ul {
	height: 100%;
	margin: 0;
   	list-style-type: none ;
  	padding: 0;
}

section li {
	display: inline-block;
	margin: 14px;
}

#social-networks li a img{
	min-height: 16px;
	max-width: 100%;
	height: auto;
	margin: 0px;
}

/** footer **/
footer {
  text-align: center;
  padding: 1%;
	border-top: 1px solid black;
  -moz-box-shadow:inset 0 3px 10px black;
  -webkit-box-shadow:inset 0 3px 10px black;
  /**box-shadow:inset 0 3px 10px black;​ LESS DON'T ACCEPT THIS !?**/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  height: 30%;
}

footer p {
	color: #FFFFFF;
	font-size: 20px;
	box-sizing: border-box;
	display: inline-block;
	width: 27%;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 0px;
}

footer p:first-letter {
	color: white;
	font-size: 60px;
}

.footer-graddient {
	background: #cb091c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiMDkxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2NhMGExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzk1MTQxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #cb091c 0%, #ca0a1c 44%, #95141b 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb091c), color-stop(44%,#ca0a1c), color-stop(70%,#95141b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* IE10+ */
	background: linear-gradient(to bottom, #cb091c 0%,#ca0a1c 44%,#95141b 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb091c', endColorstr='#95141b',GradientType=0 ); /* IE6-8 */
}

