#content-div-post-message {
  cursor: default;
  max-width: 400px;
  width: 80%;
  max-height: 80%; 
  position: fixed;
  top: 67px;
  left: 43px;
  padding: 5px;
  z-index: 10;
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
  text-align: center;
}

#content-div-post-message {
  background-color: #F2F2F2;
  border: 1px solid #545454;
  border-left: none;
  padding: 10px 20px 5px;
}

.posters-proposes {
  margin: 0;
  padding: 0px 10px 0px 0;
  display: inline-block;
}

.posters-proposes-help {
  margin: 0;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}

.posters-proposes li, .posters-proposes-help li {
  display: inline-block;
  list-style-type: none;
  padding: 2px;
}

.post-title {
  text-align: left;
  line-height: 20px;
}

.post-message-container {
  position: relative;
  margin-bottom: 20px;
}

.post-message {
  height: 90px;
}

.button-linkfalse, .button-imagefalse, .button-previewfalse {
  position: absolute;
  bottom: -20px;
  padding: 0 46px;
  border: 1px solid #000;
}

.button-linktrue, .button-imagetrue, .button-previewtrue {
  position: absolute;
  bottom: -20px;
  padding: 0 40px;
  border: 1px solid #000;
}

.button-previewfalse {
  left: 17px;
  border-radius: 0 0 0 5px;
}

.button-previewtrue {
  left: 14px;
  border-radius: 0 0 0 5px;
}

.button-linkfalse {
  left: 132px;
  border-radius: 0;
}

.button-linktrue {
  left: 115px;
  border-radius: 0;
}

.button-imagefalse {
  left: 247px;
  border-radius: 0 0 5px 0;
}

.button-imagetrue {
  left: 216px;
  border-radius: 0 0 5px 0;
}

.inputfalse, .inputmessagefalse {
  width: 85%;
  max-width: 400px;
  margin: 10px 5% 10px 0;
  border-radius: 5px;
}

.inputtrue {
  width: 45%;
  max-width: 400px;
  margin: 10px 5%;
  border-radius: 5px;
}

.inputmessagetrue {
  width: 75%;
  max-width: 400px;
  margin: 10px 5% 10px 0;
  border-radius: 5px;
}

.post-help {
  position: absolute;
  border-radius: 5px 0 0 5px;
  width: 25px;
  right: 0;
  top: 0;
}

.post-message-help {
  display: inline-block;
  vertical-align: top;
  color: #545454;
}

.post-param-input {
  width: 50px;
}

.action-bar-footer {
  text-align: right;
  margin-top: 20px;
}

.button-a.true {
  border: 1px solid #545454;
  background-color: #fff;
}

.button-provider {
  padding: 5px;
}