---
layout: default
---
<header>
  <h1 class="header">Skimbo</h1>

  <span class="flags"><a href="{{site.baseurl}}/index.html" class="flag flag-fr"></a><a href="{{site.baseurl}}/index_en.html" class="flag flag-gb"></a></span>

  <ul>
    <li><a class="buttons skimboIcon" href="http://skimbo.fr">Skimbo !</a></li>
    <li><a class="buttons" href="{{site.baseurl}}/blog.html"><i class="icon-book"></i> Blog</a></li>
    <li><a class="buttons" href="{{site.baseurl}}/updates.html"><i class="icon-calendar"></i> Updates</a></li>
    <li><a class="buttons" href="{{site.baseurl}}/index.html#fonctionnalites"><i class="icon-cog-alt"></i> Fonctionnalités</a></li>
    <li><a class="buttons" href="{{site.baseurl}}/index.html#prochainement"><i class="icon-hourglass"></i> Prochainement</a></li>
    <li><a class="buttons froggiesIcon" href="{{site.baseurl}}/index.html#team"> Froggies team</a></li>
    <li><a class="buttons" href="{{site.baseurl}}/index.html#technologies"><i class="icon-wrench"></i> Technologies</a></li>
  </ul>

  <p class="header"><a class="header name froggiesLink" href="https://github.com/Froggies"><img class="froggiesBtn" src="{{site.baseurl}}/images/froggies.png" target="_blank" /></a></p>

</header>

<section>
{{content}}
</section>
