@main("Live Social Feeds") {
    
    <h1>Social Feeds</h1>
    
    <ul>
    	<li><a href="@routes.SocialNetworksTest.twitter">Twitter timeline</a></li>
    	<li><a href="@routes.SocialNetworksTest.facebook">Facebook wall</a></li>
    	<li><a href="@routes.SocialNetworksTest.googleplus">Google+ public activities</a></li>
    	<li><a href="@routes.SocialNetworksTest.viadeo">Viadeo SmartNews</a></li>
    	<li><a href="@routes.SocialNetworksTest.linkedin">LinkedIn</a></li>
    	<li><a href="@routes.SocialNetworksTest.github">Github</a></li>
    	<li><a href="@routes.SocialNetworksTest.stackexchange">StackExchange</a></li>
    	<li><a href="@routes.SocialNetworksTest.trello">Trello</a></li>
        <li><a href="@routes.SocialNetworksTest.scoopit">Scoopit</a></li>
    </ul>
    
}