@(providers: Seq[Service])

@main("Skimbo") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.min.css")">
} {
	<div id="container">
		<header>
			<img class="logo" src="@routes.Assets.at("img/login/logo_skimbo.png")" width="195" height="195"/>
		</header>

		<section>
			<a href="/auth/facebook" id="signinwithfacebook" class="signinwith"><img src="@routes.Assets.at("img/login/facebook_home.png")" alt="facebook min logo"/> Sign in with Facebook</a>
			<a href="/auth/twitter" id="signinwithtwitter" class="signinwith"><img src="@routes.Assets.at("img/login/twitter_home.png")" alt="twitter min logo"/> Sign in with Twitter</a>
			<a href="/auth/googleplus" id="signinwithgoogleplus" class="signinwith"><img src="@routes.Assets.at("img/login/googleplus_home.png")" alt="googleplus min logo"/> Sign in with Google+</a>
			
			<p class="or-sign-via-sentence">Or sign in via :</p>
			
			<ul id="social-networks">
      	@for(provider <- providers) {
      		@if(provider.name != "facebook" && 
      				provider.name != "twitter" && 
      				provider.name != "googleplus") {
						<li class="providers-list">
							<a href="/auth/@provider.name" title="Connect with @provider.name">
								<img src="@routes.Assets.at("img/brand/"+provider.name+".png")" alt="@provider.name" width="30" height="30" title="@provider.name">
							</a>
						</li>
					}
				}
			</ul>
		</section>
		<footer>
			Skimbo copyrigth 2013 Tous droits réservés
		</footer>

	</div>

}