@main("Skimbo") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("app/styles/logged.css")"/>
} {

	<div ng-app="publicApp" ng-controller="MainController">

        <header class="banner" ng-include="'@routes.Assets.at("app/views/header.html")'"></header>

        <!-- Add your site or application content here -->
        <div class="container" ng-view></div>

        <script src="@routes.Assets.at("app/scripts/vendor/angular.min.js")"></script>
        <script src="@routes.Assets.at("app/scripts/vendor/angular-sanitize.min.js")"></script>
        <script src="@routes.Assets.at("app/scripts/vendor/moment.min.js")"></script>
		<script src="@routes.Assets.at("app/scripts/vendor/pagevisibility.js")"></script>
		<script src="@routes.Assets.at("app/scripts/vendor/whoareyou.js")"></script>
		
        <!-- build:js scripts/scripts.js -->
        <script src="@routes.Assets.at("javascripts/public.js")"></script>

        <script src="@routes.Assets.at("javascripts/services/package.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/package.js")"></script>

        <script src="@routes.Assets.at("javascripts/services/StringUtils.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/ArrayUtils.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/UnifiedRequestUtils.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/ImagesUtils.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/Visibility.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/Network.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/PopupProvider.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/DragAndDropColumns.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/ServerCommunication.js")"></script>
        <script src="@routes.Assets.at("javascripts/filters/translation.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/MainController.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/ModifColumnController.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/HeaderController.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/ColumnController.js")"></script>

        <!-- endbuild -->

        <!-- UserVoice -->
        <script type="text/javascript">
          var uvOptions = {};
          (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/SKUqq2hdqI52HMB8QRZjw.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          })();
        </script>
        <!-- end UserVoice -->
    </div>

}